.test {
  border: 1px solid red;
}

@font-face {
  font-family: "main";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
}

@font-face {
  font-family: "sub";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff")
    format("woff");
}

@media screen and (max-width: 500px) {
  .image-wrapper {
    width: 290px;
    height: 290px;
  }
}

@media screen and (min-width: 500px) {
  .image-wrapper {
    width: 380px;
    height: 380px;
  }
}

@media screen {
  .container {
    max-width: 500px;
  }
}

.main-title {
  font-family: "main";
}

.sub-title {
  font-family: "sub";
}

.start-title-wrapper {
  color: rgb(47, 61, 83);
}

.image-wrapper {
  border: 2px dashed lightgray;
}

.image-wrapper:hover {
  cursor: pointer;
}

.image-label {
  font-family: sub;
  font-size: x-large;
  color: lightgray;
}

.image-label:hover {
  cursor: pointer;
}

.input-icon {
  font-size: 30px;
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.start-btn {
  font-family: sub;
  border-radius: 20px;
  font-weight: 800;
  padding: 5px 15px;
  background-color: rgb(47, 61, 83);
  color: #ffffff;
}

.loading-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-text {
  font-family: main;
  color: lightgray;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leader {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.result-preview {
  border-radius: 50%;
  background-size: 100px;
  background-color: #ffffff;
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

.result {
  background-color: rgb(245, 246, 248);
}

.result-title {
  font-family: main;
  font-weight: 700;
  font-size: x-large;
  margin-bottom: 0px;
}

.result-explain {
  font-family: sub;
  margin-bottom: 0px;
  color: rgb(47, 61, 83);
  font-size: larger;
  font-weight: 600;
}

.user-name {
  font-family: main;
  font-weight: 700;
  font-size: x-large;
  margin-bottom: 0px;
}

.user-explain {
  font-family: sub;
  margin-bottom: 0px;
  color: rgb(47, 61, 83);
  font-size: larger;
  font-weight: 600;
}

.user-message {
  text-align: end;
}

.bar-wrapper {
  height: 2.5rem;
}

.bar-title {
  font-family: sub;
  width: 20%;
  text-align: left;
  font-weight: 600;
  height: 2rem;
  color: rgb(47, 61, 83);
}

.bar-text {
  font-family: sub;
  color: #ffffff;
  font-weight: 600;
}

.restart-btn {
  font-family: sub;
  border-radius: 20px;
  font-weight: 800;
  padding: 5px 15px;
  background-color: rgb(47, 61, 83);
  color: #ffffff;
}

/* Team box */
.ygx-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.want-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(154, 211, 214, 0.2);
}

.wayb-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(103, 183, 236, 0.2);
}

.lachica-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(229, 183, 195, 0.2);
}

.hook-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(171, 40, 42, 0.2);
}

.holybang-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(96, 79, 124, 0.2);
}

.prowdmon-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(229, 90, 78, 0.2);
}

.cocanbutter-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(236, 191, 82, 0.2);
}

/* Team bar */
.ygx-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 1);
}

.want-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(154, 211, 214, 1);
}

.wayb-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(103, 183, 236, 1);
}

.lachica-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(229, 183, 195, 1);
}

.hook-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(171, 40, 42, 1);
}

.holybang-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(96, 79, 124, 1);
}

.prowdmon-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(229, 90, 78, 1);
}

.cocanbutter-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(236, 191, 82, 1);
}

/* Team Color */
.ygx {
  color: #000;
}

.want {
  color: rgb(154, 211, 214);
}

.wayb {
  color: rgb(103, 183, 236);
}

.lachica {
  color: rgb(229, 183, 195);
}

.hook {
  color: rgb(171, 40, 42);
}

.holybang {
  color: rgb(96, 79, 124);
}

.prowdmon {
  color: rgb(229, 90, 78);
}

.cocanbutter {
  color: rgb(236, 191, 82);
}

/* Loading Logo */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 46%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 4px solid lightgray;
  border-top-color: #000;
  animation: spinner 0.6s linear infinite;
}

/* heart */
.heart {
  width: 100px;
  height: 100px;
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png)
    no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}
.heart {
  background-position: -2800px 0;
  transition: background 1s steps(28);
  animation-iteration-count: infinite;
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}

/* whos amung */
.waubutton {
}

.who {
  display: flex;
  justify-content: center;
  align-items: center;
}
